<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Biography</a></li>
        <li><a routerLink="/">Coop</a></li>
        <li><a routerLink="/">Work</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Project 1</a></li>
            <li><a style="cursor: pointer;">Project 2</a></li>
          </ul>
        </li>
        <li>
          <!-- <a href="https://github.com/abdulbasit1149">Github</a> -->
          <!-- <img src="../../assets/GitHub-Mark/PNG/GitHub-Mark-32px.png" alt=""> -->
        </li>
        <!-- <li><a routerLink="resume">Resume</a></li> -->
      </ul>
    </div>
  </div>
</nav>